.btn {
    width: auto;
    overflow: hidden;
    background: transparent;
    color: inherit;
    font: inherit;
    background-color: none;
    line-height: normal;
    margin: 0;
}
.button-main {
    height: 8%;
    border: solid 1px;
    border-radius: 10px;

    padding: 3px;
}
.button-main:hover {
    background: rgb(248, 246, 246);
    transition: background 0.1s ease-in;
}
